*{
margin: 0px;
    font-family: "inter";


}
#logo{
    margin-left: 50px;
    margin-top: 50px;
}
#Cabeçalho{
    margin-left: 150px;
    margin-top: 75px;
}
#txt-superior{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}
#menusuperior{
background-image: url(imagens/fundo_topo.svg);
    color: aliceblue;
}
#menumeio{
background-color: #EAECE5;
display: grid;
grid-auto-flow: column;
columns: auto;
}
.icone{
margin: 50px 0px 50px 100px;
padding: 25px;
}

#secaovideo{
    display: grid;
grid-auto-flow: column;
columns: auto;
}


.textoinformativo{
    
    display: flex;
    align-items: center;

}
#titulovideo{
    color: #247BA0;
    margin-top: 50px;
}
#video{
    margin: 50px 5px 50px 100px
}

#carrossel{
    background-color: #247BA0;
    padding: 50px ;
} 

#titulocarrossel{
    color:#ffffff;
    text-align: center;
    font-size: 25px;
}
#div-cards{
    display: grid;
grid-auto-flow: column;
columns: auto;
}
#seta_esquerda{
    display: none;
}
#Bruna{
    display: none;
}
.seta{
    margin-top: 20%;
    cursor: pointer;
}

.seta:hover{

    transform: translateY(7px);
    transition-duration: 0.5s ;
}
#Formulario{

    text-align: center;


}

#tituloformulario{

    font-size: 25px;
    margin: 25px;
    color: #383838;

}


input{

  width: 300px;
  height: 40px;
  background-color: rgb(122, 230, 230);
  margin: 15px;
  border: 0px;
  border-radius: 5px;
  padding-left:  20px;
}
button{
  background-color: rgb(33, 189, 189);
  height: 40px;
  width: 250px;
  color: #EAECE5;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 50px;
  font-weight: bolder;
  cursor: pointer;
}
button:hover{
    background-color: rgb(85, 151, 151);
    color: #ffffff;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px  rgb(54, 78, 78);
    transition-duration: 0.5s;
}